@{import('meta', 'head', 'default.js + ui.js', 'favicon.ico')}
<!-- enlever le système de layout 👇 -->
@{layout('')}
<a href="/">Accueil</a>
<h1>Liste des utilisateurs</h1>

<!-- boucler sur les utilisateurs -->
<a href="/add_user/">Ajouter un utilisateur</a>
<ul class="ul">
    @{foreach user in model}
        <li>@{user.prenom} @{user.nom} @{user.email}</li>
        <a href="/utilisateurs/@{user.id}/">read</a>
        <a href="/edit_user/id=@{user.id}/">Modifier</a>
        <a href="/utilisateurs/delete/@{user.id}/" id="delete_user">Delete</a>
    @{end}
</ul>